<div class="panel">
    <br>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    <h2>Freshman Year Tasks</h2>
                </th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>
                    <h4>Concentrate on adjusting to college, developing good study skills and doing well in your courses</h4>
                </td>
            </tr>
            <tr>
                <td>
                    <h4>Learn how to find and use resources of the university and the business school</h4>
                </td>
            </tr>
            <tr>
                <td>
                    <h4>Visit the Business Career Center and meet your career consultant
                    </h4>
                </td>
            </tr>
            <tr>
                <td>
                    <h4>Start to identify your interests, abilities and skills
                    </h4>
                </td>
            </tr>
            <tr>
                <td>
                    <h4>Read the weekly electronic newsletter from your career consultant
                    </h4>
                </td>
            </tr>
            <tr>
                <td>
                    <h4>Read your major's departmental web page and handouts about your major
                    </h4>
                </td>
            </tr>
            <tr>
                <td>
                    <h4>Become familiar with the Career Services web site
                    </h4>
                </td>
            </tr>
            <tr>
                <td>
                    <h4>Attend a workshop or event sponsored by the Business Career Center and/or Career Services
                    </h4>
                </td>
            </tr>
            <tr>
                <td>
                    <h4>Explore clubs or organizations and join one that interests you
                    </h4>
                </td>
            </tr>
            <tr>
                <td>
                    <h4>Make plans to do something over the summer that will add to your skills and/or give you exposure to an industry that interests you
                    </h4>
                </td>
            </tr>
            <tr>
                <td>
                    <h4>Become acquainted with some business publications and choose one to read regularly
                    </h4>
                </td>
            </tr>
            <tr>
                <td>
                    <h4>Create your first resume and meet with your career consultant to analyze how you want to improve and expand on the contents
                    </h4>
                </td>
            </tr>
        </tbody>
    </table>
</div>
