<div class=" panel">
    <br>

    <table class=" table table-striped">
        <thead>
            <tr>
                <th>
                    <h2>Internship Tasks</h2>
                </th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>
                    <h4>Attend a Resume Building Workshop</h4>
                </td>
            </tr>
            <tr>
                <td>
                    <h4>Attend a Career Fair</h4>
                </td>
            </tr>
            <tr>
                <td>
                    <h4>Find an Internship</h4>
                </td>
            </tr>
            <tr>
                <td>
                    <h4><a href="https://my.wpcarey.asu.edu/undergrad/bcc/internships.cfm">Internships</a></h4>
                </td>
            </tr>
        </tbody>
    </table>
</div>
