<div class=" panel">
    <br>

    <table class=" table table-striped">
        <thead>
            <tr>
                <th>
                    <h2>First Job Tasks</h2>
                </th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>
                    <h4>Create a Resume</h4>
                </td>
            </tr>
            <tr>
                <td>
                    <h4>Attend an Interview Workshop</h4>
                </td>
            </tr>
            <tr>
                <td>
                    <h4>Create Interview Ready Wardrobe</h4>
                </td>
            </tr>
            <tr>
                <td>
                    <h4>Attend a Career Fair</h4>
                </td>
            </tr>
            <tr>
                <td>
                    <h4><a href="https://my.wpcarey.asu.edu/undergrad/bcc/job-search.cfm">Job Search</a></h4>
                </td>
            </tr>
        </tbody>
    </table>
</div>
