<div class="panel">
    <br>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    <h2>Junior Year Tasks</h2>
                </th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>
                    <h4>Purchase professional attire for formal internship interviews
                    </h4>
                </td>
            </tr>
            <tr>
                <td>
                    <h4>Review Sun Devil Career Link at least once per week to avoid missing internship deadlines
                    </h4>
                </td>
            </tr>
            <tr>
                <td>
                    <h4>Attend the Business Career Fair, as well as any other recruiting networking events related to your major, such as Accountancy Meet the Firms
                    </h4>
                </td>
            </tr>
            <tr>
                <td>
                    <h4>Continue to read your weekly electronic newsletter from your career consultant
                    </h4>
                </td>
            </tr>
            <tr>
                <td>
                    <h4>Narrow your career alternatives by creating an A-list of industries and companies
                    </h4>
                </td>
            </tr>
            <tr>
                <td>
                    <h4>Determine which of your targeted organizations have formal internship programs
                    </h4>
                </td>
            </tr>
            <tr>
                <td>
                    <h4>Become familiar with hiring methods and timeframes for internships of interest.
                    </h4>
                </td>
            </tr>
            <tr>
                <td>
                    <h4>Attend Career Fiesta in late September
                    </h4>
                </td>
            </tr>
            <tr>
                <td>
                    <h4>Revise your resume and your 30 second commercial
                    </h4>
                </td>
            </tr>
            <tr>
                <td>
                    <h4>Upload your revised resume to Sun Devil Career Link
                    </h4>
                </td>
            </tr>
            <tr>
                <td>
                    <h4>Participate in at least two workshops or information sessions sponsored by the Business Career Center or Career Services
                    </h4>
                </td>
            </tr>
            <tr>
                <td>
                    <h4>Start attending company information sessions on a regular basis
                    </h4>
                </td>
            </tr>
            <tr>
                <td>
                    <h4>Consider subscribing to at least one business publication
                    </h4>
                </td>
            </tr>
            <tr>
                <td>
                    <h4>Join a pertinent professional association with a student chapter or reduced student membership
                    </h4>
                </td>
            </tr>
            <tr>
                <td>
                    <h4>Apply for internships and do thorough follow-up with those firms</h4>
                </td>
            </tr>

        </tbody>
    </table>
</div>
