<div class="panel">
    <br>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    <h2>Senior Year Tasks</h2>
                </th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>
                    <h4>Start your search for your full time professional job early in the fall semester if you are graduating in May
                    </h4>
                </td>
            </tr>
            <tr>
                <td>
                    <h4>Expand your professional wardrobe for interviews
                    </h4>
                </td>
            </tr>
            <tr>
                <td>
                    <h4>Attend Career Fiesta, the Business Career Fair and any recruiter networking events
                    </h4>
                </td>
            </tr>
            <tr>
                <td>
                    <h4>Be vigilant about reviewing at least weekly new listing on the Sun Devil Career Link and insuring that you apply in a timely manner
                    </h4>
                </td>
            </tr>
            <tr>
                <td>
                    <h4>Refine and update your resume
                    </h4>
                </td>
            </tr>
            <tr>
                <td>
                    <h4>Revise and practice your 30 second commercial
                    </h4>
                </td>
            </tr>
            <tr>
                <td>
                    <h4>Thoroughly prepare for every interview you have and follow up with the appropriate correspondence
                    </h4>
                </td>
            </tr>
            <tr>
                <td>
                    <h4>Evaluate and compare job offers carefully
                    </h4>
                </td>
            </tr>
            <tr>
                <td>
                    <h4>Accept the position with the best fit for your goals and notify all of the other employers with whom you have interviewed that you are withdrawing from further consideration</h4>
                </td>
            </tr>
            <tr>
                <td>
                    <h4>Complete the W. P. Carey School of Business Employment Survey to report your new position</h4>
                </td>
            </tr>
        </tbody>
    </table>
</div>
