<div class="panel">
    <br>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    <h2>Sophomore Year Tasks</h2>
                </th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>
                    <h4>Continue to study hard and keep "on track"
                    </h4>
                </td>
            </tr>
            <tr>
                <td>
                    <h4>Evaluate your first year experience and make appropriate adjustments in study habits, time management and planning
                    </h4>
                </td>
            </tr>
            <tr>
                <td>
                    <h4>Read your weekly electronic newsletters from your career consultant
                    </h4>
                </td>
            </tr>
            <tr>
                <td>
                    <h4>Visit the Business Career Center and check in with your career consultant
                    </h4>
                </td>
            </tr>
            <tr>
                <td>
                    <h4>Take an active role in the student organization of your choice
                    </h4>
                </td>
            </tr>
            <tr>
                <td>
                    <h4>Arrange and conduct informational interviews to gain first-hand knowledge of careers your want to consider
                    </h4>
                </td>
            </tr>
            <tr>
                <td>
                    <h4>Look at company web sites and review the descriptions of jobs in which you have an interest
                    </h4>
                </td>
            </tr>
            <tr>
                <td>
                    <h4>Develop a resume to use when applying for internships and upload it onto Sun Devil Career Link
                    </h4>
                </td>
            </tr>
            <tr>
                <td>
                    <h4>Prepare and practice delivering a 30 second commercial highlighting the attributes you most want a contact to remember about you
                    </h4>
                </td>
            </tr>
            <tr>
                <td>
                    <h4>Utilize online tools for career, company and industry research
                    </h4>
                </td>
            </tr>
            <tr>
                <td>
                    <h4>Get some relevant career experience through a special project or volunteer experience
                    </h4>
                </td>
            </tr>
            <tr>
                <td>
                    <h4>Continue to be strategic by using schoolwork to learn about career issues
                    </h4>
                </td>
            </tr>
            <tr>
                <td>
                    <h4>Attend several company-sponsored information sessions to see what they are like
                    </h4>
                </td>
            </tr>
            <tr>
                <td>
                    <h4>Read several current books about business
                    </h4>
                </td>
            </tr>
            <tr>
                <td>
                    <h4>Apply for spring or summer internships open to sophomores</h4>
                </td>
            </tr>

        </tbody>
    </table>
</div>
