<section data-ng-controller="HomeController">
    <div class="jumbotron text-center">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
                <img alt="wpc logo" class="img-responsive text-center" src="modules/core/img/brand/wpclogo.png" />
            </div>
        </div>

        <br>
        <div class="row">
            <p class="lead">
            </p>
        </div>
        <div class="row">
            <p>
                <a class="btn btn-primary btn-lg btn-warning" href="https://my.wpcarey.asu.edu/undergrad/bcc/bcc-overview.cfm" target="_blank">visit career center</a>
            </p>
        </div>
    </div>
    <div class="well">
        <h2 class="text-center">Career Fair Prep</h2>
        <img src="modules/core/img/brand/AddToCal.png" />
        <p class="text-right"><em>Thursday, September 17, 2015<br>5:00pm, WPC School of Business</em></p>
        <p class="text-right">Be prepared for the career fair! Come learn how to dress professionally, get tips for rocking resume, and practice your elevator speech.</p>
    </div>
    <div class="well"></div>
    <br>
    <p class="text-center">&copy; MEAN.machine</p>
</section>
