<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
				<img alt="wpc logo" class="img-responsive text-center" src="modules/core/img/brand/wpclogo.png" />
			</div>
		</div>
        
		<br>
		<div class="row">
			<p class="lead">
				this is the home page content
			</p>
		</div>
		<div class="row">
			<p>
				<a class="btn btn-primary btn-lg btn-warning" href="https://my.wpcarey.asu.edu/undergrad/bcc/bcc-overview.cfm" target="_blank">visit career center</a>
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<h2>
				Article 1
			</h2>
			<p>Article Text</p>
		</div>
		<div class="col-md-3">
			<h2>
				Calendar
			</h2>
			<p>Event Description</p>
		</div>
		<div class="col-md-3">
			<h2>
				Article 2
			</h2>
			<p>Article Description</p>
		</div>
		<div class="col-md-3">
			<h2>
				Job Posting
			</h2>
			<p>Job Description</p>
		</div>
	</div>
	<div class="well">
		<h2>MEAN.machine info</h2>
		<p>
			Click on the following links for more info:
			<ul>
				<li><a target="_blank" href="https://github.com/asu-cis440-summer/career-center-MEAN.machine">Github</a>
				</li>
				<li><a target="_blank" href="https://github.com/asu-cis440-summer/career-center-MEAN.machine/tree/master/bcc">Documentation</a>
				</li>
				<li><a target="_blank" href="https://github.com/asu-cis440-summer/career-center-MEAN.machine/blob/master/BCC%20Digital%20Prototype%20v.01.pdf">Digital Prototypes</a>
				</li>
				
			</ul>
		</p>
	</div>
	<br>The MEAN.machine Team
</section>