<div class=container>
    <br>
    <br>
    <div class="text-center">

        <a href="https://apps.wpcarey.asu.edu/apps/advising/index.cfm" target="_blank">
            <div class="customBtn">
                <h3>ADVISING SOS</h3>
            </div>
        </a>
        <br>
        <a href="https://wpcarey.asu.edu/undergraduate-degrees/choose-degree" target="_blank">
            <div class="customBtn">
                <h3>MAJORS</h3>
            </div>
        </a>
        <br>
        <a href="http://blogs.wpcarey.asu.edu/undergrad/tag/wpc/" target="_blank">
            <div class="customBtn">
                <h3>WPC BLOGS</h3>
            </div>
        </a>
        <br>
        <a href="https://eoss.asu.edu/cs/sdcl" target="_blank">
            <div class="customBtn">
                <h3>SUN DEVIL CAREER LINK</h3>
            </div>
        </a>
        <br>
    </div>
