<div class=container>
    <br>
    <br>
    <div class="text-center">

        <a href="https://apps.wpcarey.asu.edu/apps/advising/index.cfm" target="_blank">
            <div class="customBtn">
                <h1>ADVISING SOS</h1>
            </div>
        </a>

        <br>
        <div class="line-separator"></div>
        <br>

        <a href="https://wpcarey.asu.edu/undergraduate-degrees/choose-degree" target="_blank">
            <div class="customBtn">
                <h1>MAJORS</h1>
            </div>
        </a>

        <br>
        <div class="line-separator"></div>
        <br>

        <a href="http://blogs.wpcarey.asu.edu/undergrad/tag/wpc/" target="_blank">
            <div class="customBtn">
                <h1>WPC BLOGS</h1>
            </div>
        </a>

        <br>
        <div class="line-separator"></div>
        <br>

        <a href="https://eoss.asu.edu/cs/sdcl" target="_blank">
            <div class="customBtn">
                <h1>SUN DEVIL CAREER LINK</h1>
            </div>
        </a>

        <br>
        <div class="line-separator"></div>
        <br>

    </div>
