<div class=container>
    <br>
    <div class="text-center">

        <a href="/#!/freshman">
            <div class="customBtn" ui-route="/freshman" ng-class="{active: $uiRoute}">
                <h3>FRESHMAN YEAR</h3>
            </div>
        </a>
        <br>
        <a href="/#!/sophomore">
            <div class="customBtn" ui-route="/sophomore" ng-class="{active: $uiRoute}">
                <h3>SOPHOMORE YEAR</h3>
            </div>
        </a>
        <br>
        <a href="/#!/junior">
            <div class="customBtn" ui-route="/junior" ng-class="{active: $uiRoute}">
                <h3>JUNIOR YEAR</h3>
            </div>
        </a>
        <br>
        <a href="/#!/senior">
            <div class="customBtn" ui-route="/senior" ng-class="{active: $uiRoute}">
                <h3>SENIOR YEAR</h3>
            </div>
        </a>
        <br>
        <a href="/#!/intern">
            <div class="customBtn" ui-route="/intern" ng-class="{active: $uiRoute}">
                <h3>FIRST INTERNSHIP</h3>
            </div>
        </a>
        <br>
        <a href="/#!/job">
            <div class="customBtn" ui-route="/job" ng-class="{active: $uiRoute}">
                <h3>FIRST JOB</h3>
            </div>
        </a>

    </div>
