<div class=container>
    <!--Add your code below-->
    <div class="col-sm-8 col-sm-push-4">
        Add tools page code here.

        <a href="#Foo" class="btn btn-default" data-toggle="collapse">Toggle Foo</a>
        <button href="#Bar" class="btn btn-default" data-toggle="collapse">Toggle Bar</button>
        <div id="Foo" class="collapse">
            This div (Foo) is hidden by default
        </div>
        <div id="Bar" class="collapse in">
            This div (Bar) is shown by default and can toggle
        </div>
    </div>
</div>