<div class="container" id="noUnder">
    <br>
    <div class="text-center">
        <a href="/#!/freshman">
            <div class="customBtn" ui-route="/freshman" ng-class="{active: $uiRoute}">
                <h1>FRESHMAN YEAR</h1>
            </div>
        </a>

        <br>
        <div class="line-separator"></div>
        <br>

        <a href="/#!/sophomore">
            <div class="customBtn" ui-route="/sophomore" ng-class="{active: $uiRoute}">
                <h1>SOPHOMORE YEAR</h1>
            </div>
        </a>

        <br>
        <div class="line-separator"></div>
        <br>

        <a href="/#!/junior">
            <div class="customBtn" ui-route="/junior" ng-class="{active: $uiRoute}">
                <h1>JUNIOR YEAR</h1>
            </div>
        </a>

        <br>
        <div class="line-separator"></div>
        <br>

        <a href="/#!/senior">
            <div class="customBtn" ui-route="/senior" ng-class="{active: $uiRoute}">
                <h1>SENIOR YEAR</h1>
            </div>
        </a>

        <br>
        <div class="line-separator"></div>
        <br>

        <a href="/#!/intern">
            <div class="customBtn" ui-route="/intern" ng-class="{active: $uiRoute}">
                <h1>FIRST INTERNSHIP</h1>
            </div>
        </a>

        <br>
        <div class="line-separator"></div>
        <br>

        <a href="/#!/job">
            <div class="customBtn" ui-route="/job" ng-class="{active: $uiRoute}">
                <h1>FIRST JOB</h1>
            </div>
        </a>

        <br>
        <div class="line-separator"></div>
        <br>

    </div>
